.filter {
  display: flex;
  align-items: center;
  border-radius: 3px;
  height: 35px;
  font-size: 1rem;
  background-color: #303030;
}

.filter-icon {
  color: #a3a3a3;
  width: 30px;
  text-align: center;
}

.filter-input {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline-style: none;
  border-color: transparent;
  color: white;
  flex: 1 0;
}

.filter-input::placeholder {
  color: #707070;
}

.filter-cancel {
  color: #a3a3a3;
  width: 20px;
  cursor: pointer;
}

.filter:hover .filter-icon,
.filter:hover .filter-input::placeholder {
  color: white;
}
